__pycache__/
*.pdf
index.html
/*.html
/2200_le_jugement_des_dieux/*.html
/DungeonHeartHeroesAndSpells/*.html
/idees/*.html
/les13reliques/*.html
/MMM/*.html
/psirun/*.html
/psirun/CR_2017-12-27_piste.png
/psirun/rsync.include
/RunDieRepeat/*.html
/scavengers/*.html
/sous-terre/*.html