__pycache__/
*.pdf
/dedale/Dedale.html
/chimera/chimera.html
/gdav/gdav.html
/latour/latour.html
/poc/PorteObjectifCartes.html
/psirun/CR_2016-12-18.html
/psirun/CR_2017-12-27.html
/psirun/CR_2017-12-27_piste.png
/psirun/rsync.include
/scavengers/adj-scavengers.html
/CommeDesLarmesDePluie.html
/LeDernierCaféSurLaGauche.html