beautifulsoup4==4.15.0
fpdf2==2.8.7
jinja2==3.1.6
mistletoe==1.6.0
pdfly==0.5.1
pikepdf==10.10.0
pillow==12.3.0
pip-upgrader==2.4.5
pypdf==6.16.1
python-poppler==0.4.1
PyYAML==6.0.3
qrcode==8.2
requests==2.34.2
# [WARN] weasyprint==69.0 "breaks" this CSS style used in AbductedNegotiators & CriticalFondation : background-image: repeating-radial-gradient
weasyprint==68.0
