@font-face { font-family: "HACKED.ttf"; src: url("2200_le_jugement_des_dieux/fonts/HACKED.ttf"); }
@font-face { font-family: "Kirsty-bold-italics.otf"; src: url("BladesInTheDark/fonts/Kirsty-bold-italics.otf"); }
@font-face { font-family: "Kirsty-bold.otf"; src: url("BladesInTheDark/fonts/Kirsty-bold.otf"); }
@font-face { font-family: "Kirsty-italics.otf"; src: url("BladesInTheDark/fonts/Kirsty-italics.otf"); }
@font-face { font-family: "Kirsty.otf"; src: url("BladesInTheDark/fonts/Kirsty.otf"); }
@font-face { font-family: "LinuxLibertine_R.ttf"; src: url("BladesInTheDark/fonts/LinuxLibertine_R.ttf"); }
@font-face { font-family: "LinuxLibertine_RB.ttf"; src: url("BladesInTheDark/fonts/LinuxLibertine_RB.ttf"); }
@font-face { font-family: "LinuxLibertine_RBI.ttf"; src: url("BladesInTheDark/fonts/LinuxLibertine_RBI.ttf"); }
@font-face { font-family: "LinuxLibertine_RI.ttf"; src: url("BladesInTheDark/fonts/LinuxLibertine_RI.ttf"); }
@font-face { font-family: "LinuxLibertine_aBS.ttf"; src: url("BladesInTheDark/fonts/LinuxLibertine_aBS.ttf"); }
@font-face { font-family: "LinuxLibertine_aS.ttf"; src: url("BladesInTheDark/fonts/LinuxLibertine_aS.ttf"); }
@font-face { font-family: "LinuxLibertine_aSI.ttf"; src: url("BladesInTheDark/fonts/LinuxLibertine_aSI.ttf"); }
@font-face { font-family: "LinuxLibertine_aSZI.ttf"; src: url("BladesInTheDark/fonts/LinuxLibertine_aSZI.ttf"); }
@font-face { font-family: "UglyQua-Italic.ttf"; src: url("BladesInTheDark/fonts/UglyQua-Italic.ttf"); }
@font-face { font-family: "UglyQua.ttf"; src: url("BladesInTheDark/fonts/UglyQua.ttf"); }
@font-face { font-family: "Minion-Bold.otf"; src: url("CriticalFondation/fonts/Minion-Bold.otf"); }
@font-face { font-family: "Minion-BoldItalics.otf"; src: url("CriticalFondation/fonts/Minion-BoldItalics.otf"); }
@font-face { font-family: "Minion-Italics.otf"; src: url("CriticalFondation/fonts/Minion-Italics.otf"); }
@font-face { font-family: "Minion-Regular.otf"; src: url("CriticalFondation/fonts/Minion-Regular.otf"); }
@font-face { font-family: "Uniwars-Regular.ttf"; src: url("CriticalFondation/fonts/Uniwars-Regular.ttf"); }
@font-face { font-family: "Uniwars-SemiBold.ttf"; src: url("CriticalFondation/fonts/Uniwars-SemiBold.ttf"); }
@font-face { font-family: "Andada-Bold.otf"; src: url("DungeonHeartHeroesAndSpells/fonts/Andada-Bold.otf"); }
@font-face { font-family: "Andada-Italic.otf"; src: url("DungeonHeartHeroesAndSpells/fonts/Andada-Italic.otf"); }
@font-face { font-family: "Andada-Regular.otf"; src: url("DungeonHeartHeroesAndSpells/fonts/Andada-Regular.otf"); }
@font-face { font-family: "BreatheFireII.otf"; src: url("DungeonHeartHeroesAndSpells/fonts/BreatheFireII.otf"); }
@font-face { font-family: "Athelas-Bold.ttf"; src: url("GirlUnderground/fonts/Athelas-Bold.ttf"); }
@font-face { font-family: "Athelas-BoldItalic.ttf"; src: url("GirlUnderground/fonts/Athelas-BoldItalic.ttf"); }
@font-face { font-family: "Athelas-Italic.ttf"; src: url("GirlUnderground/fonts/Athelas-Italic.ttf"); }
@font-face { font-family: "Athelas-Regular.ttf"; src: url("GirlUnderground/fonts/Athelas-Regular.ttf"); }
@font-face { font-family: "Goldenbook.otf"; src: url("GirlUnderground/fonts/Goldenbook.otf"); }
@font-face { font-family: "Coelacanth.otf"; src: url("LadyBlackbird/fonts/Coelacanth.otf"); }
@font-face { font-family: "CoelacanthBold.otf"; src: url("LadyBlackbird/fonts/CoelacanthBold.otf"); }
@font-face { font-family: "CoelacanthItalic.otf"; src: url("LadyBlackbird/fonts/CoelacanthItalic.otf"); }
@font-face { font-family: "CoelacanthPearlBold.otf"; src: url("LadyBlackbird/fonts/CoelacanthPearlBold.otf"); }
@font-face { font-family: "shloprg.ttf"; src: url("LesNonMorts/shloprg.ttf"); }
@font-face { font-family: "Griddish.ttf"; src: url("OriMushi/fonts/Griddish.ttf"); }
@font-face { font-family: "Odachi.otf"; src: url("OriMushi/fonts/Odachi.otf"); }
@font-face { font-family: "XangdaShiny-l4AX.ttf"; src: url("OriMushi/fonts/XangdaShiny-l4AX.ttf"); }
@font-face { font-family: "calibri.ttf"; src: url("OriMushi/fonts/calibri.ttf"); }
@font-face { font-family: "calibrib.ttf"; src: url("OriMushi/fonts/calibrib.ttf"); }
@font-face { font-family: "calibriz.ttf"; src: url("OriMushi/fonts/calibriz.ttf"); }
@font-face { font-family: "Candara.ttf"; src: url("Pathfinder/fonts/Candara.ttf"); }
@font-face { font-family: "Candara_Bold.ttf"; src: url("Pathfinder/fonts/Candara_Bold.ttf"); }
@font-face { font-family: "Candara_Bold_Italic.ttf"; src: url("Pathfinder/fonts/Candara_Bold_Italic.ttf"); }
@font-face { font-family: "Candara_Italic.ttf"; src: url("Pathfinder/fonts/Candara_Italic.ttf"); }
@font-face { font-family: "VinqueRegular.otf"; src: url("Pathfinder/fonts/VinqueRegular.otf"); }
@font-face { font-family: "EBGaramond-Regular.ttf"; src: url("RunDieRepeat/fonts/EBGaramond-Regular.ttf"); }
@font-face { font-family: "Elementary_Gothic.otf"; src: url("RunDieRepeat/fonts/Elementary_Gothic.otf"); }
@font-face { font-family: "Mirage.ttf"; src: url("RunDieRepeat/fonts/Mirage.ttf"); }
@font-face { font-family: "Rajdhani-Regular.ttf"; src: url("RunDieRepeat/fonts/Rajdhani-Regular.ttf"); }
@font-face { font-family: "Vanchrome-Regular.ttf"; src: url("RunDieRepeat/fonts/Vanchrome-Regular.ttf"); }
@font-face { font-family: "Candara.ttf"; src: url("Sombre/scenario/fonts/Candara.ttf"); }
@font-face { font-family: "Candara_Bold.ttf"; src: url("Sombre/scenario/fonts/Candara_Bold.ttf"); }
@font-face { font-family: "Candara_Bold_Italic.ttf"; src: url("Sombre/scenario/fonts/Candara_Bold_Italic.ttf"); }
@font-face { font-family: "Candara_Italic.ttf"; src: url("Sombre/scenario/fonts/Candara_Italic.ttf"); }
@font-face { font-family: "Freedom45.otf"; src: url("Sombre/scenario/fonts/Freedom45.otf"); }
@font-face { font-family: "SciFiMovies.ttf"; src: url("VengeanceFatale4D/SciFiMovies.ttf"); }
@font-face { font-family: "jmletter.ttf"; src: url("chimera/fonts/jmletter.ttf"); }
@font-face { font-family: "DampfPlatz.ttf"; src: url("gdav/fonts/DampfPlatz.ttf"); }
@font-face { font-family: "FFF_Tusj.ttf"; src: url("gdav/fonts/FFF_Tusj.ttf"); }
@font-face { font-family: "gnyrwn971.ttf"; src: url("genius-loci/fonts/gnyrwn971.ttf"); }
@font-face { font-family: "PhageRough.otf"; src: url("latour/fonts/PhageRough.otf"); }
@font-face { font-family: "gabriele-l.ttf"; src: url("latour/fonts/gabriele-l.ttf"); }
@font-face { font-family: "gnyrwn971.ttf"; src: url("plus-de-place-en-enfer/fonts/gnyrwn971.ttf"); }
@font-face { font-family: "Coves-Bold.otf"; src: url("psirun/fonts/Coves-Bold.otf"); }
@font-face { font-family: "Coves-Light.otf"; src: url("psirun/fonts/Coves-Light.otf"); }
@font-face { font-family: "KillTheNoise.otf"; src: url("psirun/fonts/KillTheNoise.otf"); }
@font-face { font-family: "OutrunFuture-Bold.otf"; src: url("psirun/fonts/OutrunFuture-Bold.otf"); }
@font-face { font-family: "OutrunFuture-BoldItalic.otf"; src: url("psirun/fonts/OutrunFuture-BoldItalic.otf"); }
@font-face { font-family: "OutrunFuture.otf"; src: url("psirun/fonts/OutrunFuture.otf"); }
@font-face { font-family: "RoadRage.otf"; src: url("psirun/fonts/RoadRage.otf"); }
@font-face { font-family: "Cornerstone.ttf"; src: url("scavengers/fonts/Cornerstone.ttf"); }
@font-face { font-family: "Marske.otf"; src: url("scavengers/fonts/Marske.otf"); }
@font-face { font-family: "TribalGaramond.ttf"; src: url("sous-terre/fonts/TribalGaramond.ttf"); }
