@font-face { font-family: "DINPro"; src: url("Pack_AP_ParadisPerdu_v2/Polices/DINPro-Regular.otf"); }
@font-face { font-family: "DINPro"; src: url("Pack_AP_ParadisPerdu_v2/Polices/DINPro-Bold.otf"); font-weight: bold; }
@font-face { font-family: "DINPro"; src: url("Pack_AP_ParadisPerdu_v2/Polices/DINPro-RegularItal.otf"); font-style: italic; }
@font-face { font-family: "DINPro-Black"; src: url("Pack_AP_ParadisPerdu_v2/Polices/DINPro-Black.otf"); }
@font-face { font-family: "DINCondensed"; src: url("Pack_AP_ParadisPerdu_v2/Polices/D-DINCondensed.ttf"); }
@font-face { font-family: "DINCondensed"; src: url("Pack_AP_ParadisPerdu_v2/Polices/D-DINCondensed-Bold.ttf"); font-weight: bold; }
@font-face { font-family: "Ailerons"; src: url("Pack_AP_ParadisPerdu_v2/Polices/Ailerons.ttf"); }

@page {
  margin: /*top=*/25mm /*lateral=*/20mm /*bottom=*/25mm;
  counter-increment: page-count;
  @top-center {
    content: " ";
    width: 16rem;
    height: .35rem;
    margin-bottom: 1rem;
    background-image: url("gui/sci-fi-border-02.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  @bottom-center {
    font-family: DINPro;
    content: counter(page-count);
    font-size: .8rem;
    /* border: red 1px solid; */
  }
}

footer {
  position: fixed; /* will repeat on each page */
  height: 20mm;
  bottom: -20mm;
  right: 0;
  /* border: green 1px solid; */
}

body { font-family: DINPro; line-height: 1.2rem; text-align: justify; max-width: 42rem; margin: 0 auto; }

h1 { font-family: Ailerons; text-align: center; font-size: 3.3rem; text-transform: uppercase; margin: 0;
     page: cover-page; }
h2 { font-family: DINPro-Black; font-size: 1.3rem;  margin-top: 3rem; text-transform: uppercase; }
h3 { font-family: DINPro-Black; font-size: 1.15rem; margin-top: 2rem; }

a { color: #1e3c8f; }
blockquote { font-family: DINCondensed; border-left: 2px solid #eee; margin-left: 0; padding-left: 1rem; }
figure figcaption { font-size: .9rem; text-align: center; font-style: italic; padding-top: .5rem; }
li { margin: 1rem; }

table {
  border-collapse: collapse;
  page-break-inside: avoid;
  width: 100%;
}
th, td {
  border: 1px solid black;
  font-weight: normal;
  width: 33%;
  text-align: center;
  padding: .5rem;
}
table img { max-width: 100%; max-height: 8rem; }
/* Table borders tweaking: */
tr:nth-child(3) > td:nth-child(1) { border-right: none; }
tr:nth-child(3) > td:nth-child(2) { border-left: none; }
tr:nth-child(3) > td:nth-child(3) { border: none; }

table.terminal-card { width: 50%; margin: auto; }

.float-left  { float: left;  margin-left: 0;     margin-right: 1rem; }
.float-right { float: right; margin-left: 1rem;  margin-right: 0; }

img { max-width: 16rem; max-height: 15rem; display: block; margin: 0 auto; }
img.diagram { max-width: 100%;  max-height: 100%; }
img.stretch { max-width: 20rem; width: 20rem; height: 10rem; }
img.large   { max-width: 100%;  max-height: 25rem; }
.size6  { max-width: 6rem;  max-height: 6rem; }
.size7  { max-width: 7rem;  max-height: 7rem; }
.size8  { max-width: 8rem;  max-height: 8rem; }
.size9  { max-width: 9rem;  max-height: 9rem; }
.size10 { max-width: 10rem; max-height: 10rem; }
.size11 { max-width: 11rem; max-height: 11rem; }
.size12 { max-width: 12rem; max-height: 12rem; }
.size13 { max-width: 13rem; max-height: 13rem; }
.size14 { max-width: 14rem; max-height: 14rem; }
.size18 { max-width: 18rem; max-height: 18rem; }
.size20 { max-width: 20rem; max-height: 20rem; }
.size21 { max-width: 21rem; max-height: 21rem; }
.size22 { max-width: 22rem; max-height: 22rem; }
.size23 { max-width: 23rem; max-height: 23rem; }
.size24 { max-width: 24rem; max-height: 24rem; }
.size26 { max-width: 26rem; max-height: 26rem; }

img.between-dots {
  border-top: 2px solid #4c6cca;
  border-bottom: 2px solid #4c6cca;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.block-center { margin: 0 auto; }

.side-by-side { text-align: center; }
.side-by-side > * { display: inline-block; }

.page-break { page-break-after: always; }

.insert {
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 14rem;
  padding: 2rem;
  font-size: .9rem;
  break-inside: avoid;
}
.insert p { line-height: 1.4; margin: 0 1rem; }
.sf-bg-01 {
  background-image: url("gui/sf-bg-frame-01.png");
  max-width: 20.1rem;
  padding: /*top=*/3rem /*right=*/2rem /*bottom=*/2rem /*left=*/2rem;
}
.sf-bg-02 {
  background-image: url("gui/sf-bg-frame-02.png");
  max-width: 16rem;
  padding: /*top=*/3rem /*right=*/2rem /*bottom=*/2rem /*left=*/2.5rem;
}
.sf-bg-03 {
  background-image: url("gui/sf-bg-frame-03.png");
  padding: /*top=*/3rem /*right=*/2rem /*bottom=*/2rem /*left=*/.75rem;
}
.sf-rect {
  background-image: url("gui/sf-rect-frame-horizontal.png");
  max-width: 30rem;
  padding: /*top=*/1rem /*right=*/2rem /*bottom=*/2rem /*left=*/1rem;
}
.large {
  max-width: 40rem;
  padding: 0;
  background-color: #d6dfdf;
  overflow: hidden; /* Hides diamond ::after overflowing on the right */
}
.insert h2, .insert h3 {
  background-color: #08090a;
  color: white;
  text-transform: uppercase;
  height: 2rem;
  line-height: 2.2rem;
  margin-top: 0;
  padding-left: 1rem;
  margin-bottom: .5rem;
  position: relative;
}
.large h2::after, .large h3::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #d6dfdf;
  height: 3rem;
  width: 3rem;
  top: .5rem;
  right: -1.5rem;
  transform: rotate(45deg);
  /* border: magenta 1px solid; */
}

.pnj { max-width: 12rem; max-height: 12rem; float: right; padding-left: 1rem; }

.toc {
    columns: 2;
    list-style-type: none;
    font-size: .8rem;
}
.toc li a::after {
  content: target-counter(attr(href), page-count);
  float: right;
}

@page cover-page {
  @top-center    { content: none; }
  @bottom-center { content: none; }
}

@media print {
  .web-only { display: none; }
}
