@font-face { font-family: "DINPro"; src: url("Pack_AP_ParadisPerdu_v2/Polices/DINPro-Regular.otf"); }
@font-face { font-family: "DINPro"; src: url("Pack_AP_ParadisPerdu_v2/Polices/DINPro-Bold.otf"); font-weight: bold; }
@font-face { font-family: "DINPro"; src: url("Pack_AP_ParadisPerdu_v2/Polices/DINPro-RegularItal.otf"); font-style: italic; }
@font-face { font-family: "DINPro-Black"; src: url("Pack_AP_ParadisPerdu_v2/Polices/DINPro-Black.otf"); }
@font-face { font-family: "DINCondensed"; src: url("Pack_AP_ParadisPerdu_v2/Polices/D-DINCondensed.ttf"); }
@font-face { font-family: "DINCondensed"; src: url("Pack_AP_ParadisPerdu_v2/Polices/D-DINCondensed-Bold.ttf"); font-weight: bold; }
@font-face { font-family: "Ailerons"; src: url("Pack_AP_ParadisPerdu_v2/Polices/Ailerons.ttf"); }

@page {
  margin: /*top=*/25mm /*lateral=*/20mm /*bottom=*/30mm;
  counter-increment: page-count;
  @bottom-right {
    font-family: DINPro;
    content: "AdJ pour Paradis Perdu - Lucas Cimon - page " counter(page-count);
    font-style: italic;
    height: 25mm;
    margin-right: 10mm;
    /* border: red 1px solid; */
  }
}

footer {
  position: fixed; /* will repeat on each page */
  height: 20mm;
  bottom: -20mm;
  right: 0;
  /* border: green 1px solid; */
}

body { font-family: DINPro; text-align: justify; }
h1 { font-family: Ailerons; text-align: center; font-size: 3.3rem; text-transform: uppercase; margin: 0; }
h2 { font-family: DINPro-Black; font-size: 1.3rem; text-transform: uppercase; margin-top: 2.5rem; }
h3 { font-family: DINPro-Black; font-size: 1.15rem; }
blockquote { font-family: DINCondensed; border-left: 2px solid #eee; margin-left: 0; padding-left: 1rem; }

img { max-width: 16rem; max-height: 15rem; display: block; margin: 0 auto; }
img.large { max-width: 100%; max-height: 100%; }
img.small { max-width: 8rem; max-height: 8rem; }

.side-by-side { text-align: center; }
.side-by-side > * { display: inline-block; }

.float-left { float: left; padding-right: 1rem; }

@media print {
  .web-only { display: none; }
}
