@font-face { font-family: "Minion"; src: url("fonts/Minion-Regular.otf"); }
@font-face { font-family: "Minion"; src: url("fonts/Minion-Bold.otf"); font-weight: bold; }
@font-face { font-family: "Minion"; src: url("fonts/Minion-Italics.otf"); font-style: italic; }
@font-face { font-family: "Minion"; src: url("fonts/Minion-BoldItalics.otf"); font-weight: bold; font-style: italic; }
@font-face { font-family: "Uniwars"; src: url("fonts/Uniwars-Regular.ttf"); }
@font-face { font-family: "Uniwars"; src: url("fonts/Uniwars-SemiBold.ttf"); font-weight: bold; }

@page {
  margin: /*vertical=*/1.2cm /*horizontal=*/1.2cm;
}

body {
  box-sizing: border-box;
  max-width: 44rem;
  margin: 0 auto;
  font-family: "Minion";
  font-size: .9rem;
  line-height: .95rem;
}

h1, h2, h3, h4 {
  font-family: "Uniwars";
  color: white;
  position: relative; /* in order to position pseudoelements below */
}
h1 {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: .75rem;
  background-color: #e30613;
  font-size: 1.1rem;
  text-align: center;
}
h2, h3, h4 {
  display: inline-block;
  padding: .2rem .5rem;
  background-color: #1f5969;
  margin-bottom: 0;
}
h2 { font-size: .9rem;  line-height: .9rem; margin-top: 1rem; }
h3 { font-size: .75rem; line-height: .75rem; margin-left: .5rem; }
h4 { font-size: .6rem;  line-height: .6rem;  margin-left: 1rem; }
/* Adding left-side vertical bars: */
h2:before, h3:before, h4:before {
  content: '▍';
  color: black;
  position: absolute;
}
h2:before { font-size: 1.1rem; line-height: 1.6rem; top: -.2rem; left: -.7rem; }
h3:before { font-size:  .9rem; line-height: 1.4rem; top: -.15rem; left: -.6rem; }
h4:before { font-size:  .7rem; line-height: 1.2rem; top: -.1rem; left: -.5rem; }
/* Cut corners: */
h1:before, h1:after,
.insert:before, .insert:after,
.insert h3:before, .insert h3:after,
.insert h4:before, .insert h4:after {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  height: 1rem;
  width: 1rem;
  transform: rotate(45deg);
}
h1:before, .insert h3:before, .insert h4:before { top: -.5rem; left: -.5rem; }
h1:after,  .insert h3:after,  .insert h4:after  { bottom: -.5rem; right: -.5rem; }
.insert:before { bottom: -.65rem; left: -.6rem; height: 1.05rem; border-top: 1.5px solid black; }
.insert:after  { top: -.65rem; right: -.6rem; height: 1.05rem; border-bottom: 1.5px solid black; }

.title:before, .title:after {
  content: '';
  display: block;
  background-image: url('imgs/bg-top-left-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  width: 154px;
  height: 15px;
  top: 15px;
}
.title:before { left: 0; }
.title:after { right: 0; transform: scaleX(-1); }

p { text-align: justify; }
blockquote { font-style: italic; }
img {
  max-width: 75%;
  display: block;
  margin: 0 auto;
}
figcaption { font-style: italic; text-align: center; margin: .5rem 0; }
ul { padding-left: 0; }
ul > li { list-style: "◆"; margin-left: .9rem; margin-bottom: .333rem; }
/* A bug in WeasyPrint prevents us to set padding-left on li elements,
   so we use the ::marker pseudo-element instead to add some space after the bullet: */
ul > li::marker { content: "◆ "; white-space: pre; }
ul ul { margin-top: .5rem; }
ul ul > li { list-style: "✚"; }
ul ul > li::marker { content: "✚ "; white-space: pre; font-size: .7rem; }

a.theme-music {
  display: block;
  text-align: right;
  margin-top: -2rem;
}

.cards {
  color: white;
  font-size: .66rem;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 1.333%;
  margin-bottom: .666rem;
}

.card {
  height: 15.5rem;
  background: url('imgs/card-bg.jpg');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 50% 0;
  position: relative;
}

.card img {
  padding-top: 10%;
  max-height: 7rem;
}

.card.npc img {
  padding-top: 0;
  max-height: 14rem;
}

.card .name {
  position: absolute;
  top: 60%;
  width: 100%;
  background: url('imgs/card-name-bg.jpg');
  background-repeat: no-repeat;
  height: 1rem;
  background-size: cover;
}
.card .name h3 {
  font-weight: bold;
  font-size: .45rem;
  line-height: .2rem;
  margin-left: .666rem;
  padding: 0;
  background-color: initial;
}
.card .name h3:before { content: ''; }

.card p { text-align: left; }
.card ul { margin-top: -.5rem; }

.card .description {
  position: absolute;
  top: 75%;
  margin-left: .666rem;
  margin-right: .666rem;
  line-height: .9rem;
}

.card .description p { margin-top: 0; }

.card.fillable .name, .card.intel .name {
  top: 5%;
}

.card.npc .name {
  top: 90%;
}

.card.intel.coder .name:before,
.card.intel.scientist .name:before {
  content: '❓';
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-left: .333rem;
  background-color: #353a5c;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50px;
  display: block;
  position: absolute;
  top: -.5rem;
  left: 5%;
}

.card.intel.coder .name:before {
  content: '';
  width: 3rem;
  height: 3rem;
  background-color: initial;
  background-image: url('imgs/logo-Coder.png');
  border-radius: initial;
}

.card.intel.scientist .name:before {
  content: '';
  width: 3rem;
  height: 3rem;
  background-color: initial;
  background-image: url('imgs/logo-Scientist.png');
  border-radius: initial;
}

.card.intel .description {
  top: 15%;
  font-size: .8rem;
  line-height: 1rem;
  font-style: italic;
  margin-top: .5rem;
}

.card.fillable .description {
  top: 18%;
  background: white;
  width: 80%;
  height: 12rem;
  margin: 0;
  left: 10%;
}

.insert {
  background-color: #d1d6dd;
  border: 1.5px solid black;
  position: relative; /* in order to position h3 below */
}
.insert h3, .insert h4 {
  position: absolute;
  left: .5rem;
  top: -1.55rem;
}
.insert h3 { padding: .3rem .75rem; }
.insert h4 { padding: .4rem .75rem; }
.insert h3:after, .insert h4:after { background-color: #d1d6dd; }
.insert p { margin: 0; padding: .3rem 1.5rem; }
.insert p:first-of-type { margin-top: .666rem; }
.insert ul { margin-top: 0; }
.insert ul > li { margin: 0 2rem; }
/* Put everything slightly in the background to avoid headers to overlap paragraphs before & after: */
.insert, .insert h3, .insert h4 { z-index: -2; }
.insert h3:before, .insert h3:after, .insert h4:before, .insert h4:after { z-index: -1; }


/* Pictos: */
.episode, .equip, .hint, .pnj, .state, .item {
  display: inline-block;
  font-family: "Uniwars";
  position: relative; /* in order to position child pseudo-elements */
}
.episode:before, .equip:before, .hint:before, .pnj:before, .state:before {
  content: '';
  display: block;
  width: 1rem;
  height: .8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.episode { padding-left: 1.2rem; }
.episode:before { background-image: url('imgs/pictos/episode.png'); }
.episode.black:before { background-image: url('imgs/pictos/episode-black.png'); }
.equip { padding-left: 1rem; }
.equip:before { background-image: url('imgs/pictos/equipment.png'); }
.equip.black:before { background-image: url('imgs/pictos/equipment-black.png'); }
.hint { padding-left: .9rem; }
.hint:before { background-image: url('imgs/pictos/hint.png'); }
.hint.black:before { background-image: url('imgs/pictos/hint-black.png'); }
.pnj { padding-left: .9rem; }
.pnj:before { background-image: url('imgs/pictos/pnj.png'); }
.pnj.black:before { background-image: url('imgs/pictos/pnj-black.png'); }
.state { padding-left: .9rem; }
.state:before { background-image: url('imgs/pictos/state.png'); }
.state.black:before { background-image: url('imgs/pictos/state-black.png'); }

.banner {
  margin: .3rem 0;
  padding: 1px 0;
  line-height: .2rem;
  border-radius: .5rem;
  color: white;
  font-size: 1rem;
  background-color: #267;
  position: relative; /* in order to position child pseudo-elements */
}
.banner:before, .banner:after {
  content: '';
  display: block;
  background-image: url('imgs/banner-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 45px;
  height: 31px;
  top: 3.5px;
}
.banner:before { left: 1rem; }
.banner:after { right: 1rem; transform: rotate(180deg); }
.banner.equipement { background-color: #548; }
.banner.heal { background-color: #c44; } .banner.heal:after { top: 3px; }
.banner.music { background-color: #494; } .banner.music a { color: white; font-weight: bold; }
.banner > p { text-align: center; }
.banner .episode:before, .banner .equip:before, .banner .hint:before, .banner .pnj:before, .banner .state:before { top: -5px; }

.blue { color: #7EA6E0; }
.green { color: #97D077; }
.red { color: #EA6B66; }
.yellow { color: #FFB570; }

.float-left { float: left; margin-right: 1rem; }
.float-right { float: right; margin-left: 1rem; }

.page-break-after { page-break-after: always; }

.portrait { max-height: 12rem; }
.au-rapport { max-height: 18rem; }
.map-preview { max-height: 12.5rem; }
.license { padding: 1rem 0; }
