@font-face { font-family: Calibri; src: url('fonts/calibri.ttf'); }
@font-face { font-family: Calibri; src: url('fonts/calibrib.ttf'); font-weight: bold; }
@font-face { font-family: Calibri; src: url('fonts/calibrii.ttf'); font-style: italic; }
@font-face { font-family: Calibri; src: url('fonts/calibriz.ttf'); font-weight: bold; font-style: italic; }
@font-face { font-family: Odachi;  src: url('fonts/Odachi.otf'); }

body {
  padding: 0;
  font-family: Calibri,Arial,sans-serif;
  color: #444;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 1.6;
}
h1, h2, h3 { font-family: Odachi; margin-bottom: 0; }
h1 {
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  line-height: 1;
  margin: 5rem auto;
}
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
.scenario-title h1 { font-size: 6rem }

p, ol, ul { margin: .5rem 0; }
li { margin-bottom: .25rem; }
hr { width: 5rem; margin: 2rem auto; }

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  break-inside: avoid;
}
img.cover  { max-height: 20rem; margin: 1rem auto; }
img.size6  { max-height: 6rem; }
img.size8  { max-height: 8rem; }
img.size10 { max-height: 10rem; }
img.size20 { max-height: 20rem; }

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: .5rem 1rem;
  font-size: 1.2rem;
}
table { margin: 0 auto; page-break-inside: avoid; }
th { font-weight: normal; }
.borderless table { border-style: hidden; }
.no-borders table, .no-borders th, .no-borders td { border: none; padding: 0 .5rem; }
.right-align-col-1 th:first-child, .right-align-col-1 td:first-child { text-align: right; }
.same-size-2-cols th, .same-size-2-cols td { width: 50%; }
.same-size-3-cols th, .same-size-3-cols td { width: 33%; }
.with-headings th { font-weight: bold; }

.rules { max-width: 50rem; margin: 0 auto; }
.float-left  { float: left; margin-right: 1rem; }
.float-right { float: right; margin-left: .5rem; }
.page-break { page-break-after: always; }

@media print {
  h1 { font-size: 7rem; margin: 0 auto 2rem; }
  h2, h2 { margin-top: 0; }
  body { font-size: 1.2rem; }
  .web-only { display: none; }
}
