@font-face { font-family: Calibri; src: url('fonts/calibri.ttf'); }
@font-face { font-family: Calibri; src: url('fonts/calibrib.ttf'); font-weight: bold; }
@font-face { font-family: Calibri; src: url('fonts/calibrii.ttf'); font-style: italic; }
@font-face { font-family: Calibri; src: url('fonts/calibriz.ttf'); font-weight: bold; font-style: italic; }
@font-face { font-family: Odachi;  src: url('fonts/Odachi.otf'); }
@font-face { font-family: Griddish;  src: url('fonts/Griddish.ttf'); }

body {
  padding: 0;
  font-family: Calibri,Arial,sans-serif;
  color: #444;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 1.6;
}
h1, h2, h3 { font-family: Odachi; }
h1, h2, h3, h4 { margin-bottom: 0; }
h1 + h4, h2 + h4, h3 + h4 { margin-top: 0; }
h1 {
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  line-height: 1;
  margin: 5rem auto;
}
h2 { font-size: 2.5rem; }
h3 { font-size: 2.1rem; }
h4 { font-size: 1.4rem; }
.scenario-title h1 { font-size: 5.5rem }

hr { width: 5rem; margin: 2rem auto; }
p, ol, ul { margin: .5rem 0; }
li { margin-bottom: .25rem; }
.narrow ol, .narrow ul { padding-left: 1rem; }

del {
  text-decoration: none;
  font-family: Griddish;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  break-inside: avoid;
}
img.cover      { max-height: 20rem; margin: 1rem auto; }
img.full-width { width: 100%; }
img.size6      { max-height: 6rem; }
img.size8      { max-height: 8rem; }
img.size10     { max-height: 10rem; }
img.size14     { max-height: 14rem; }
img.size16     { max-height: 16rem; }
img.size20     { max-height: 20rem; }
img.size25     { max-height: 25rem; }
img.icon       { max-height: 1.5rem; display: inline; }

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: .5rem 1rem;
  font-size: 1.2rem;
}
table { margin: 0 auto; page-break-inside: avoid; }
th { font-weight: normal; }
table ul { padding-left: 1rem; margin: 0; }
.borderless table { border-style: hidden; }
.left-align-col-1 th:first-child, .left-align-col-1 td:first-child { text-align: left; }
.left-align-col-2 th:nth-child(2), .left-align-col-2 td:nth-child(2) { text-align: left; }
.right-align-col-1 th:first-child, .right-align-col-1 td:first-child { text-align: right; }
.large-col-3 th:nth-child(3), .large-col-3 td:nth-child(3) { width: 66%; }
.reduced-vertical-margin th, .reduced-vertical-margin td { padding-top: .1rem; padding-bottom: .1rem; }
.same-size-2-cols th, .same-size-2-cols td { width: 50%; }
.same-size-3-cols th, .same-size-3-cols td { width: 33%; }
.text-small, .text-small th, .text-small td { font-size: 1rem; }
.with-headings th { font-weight: bold; }

.rules { max-width: 50rem; margin: 0 auto; }
.toc { columns: 2; }
.width-50pc { max-width: 50%; }
.float-left  { float: left; margin-right: 1rem; }
.float-right { float: right; margin-left: .5rem; }
.float-clear { clear: both; }
.page-break { page-break-after: always; }
.thanks { font-size: .8rem; }

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.side-by-side > * { margin: 0 1rem; }

.callout {
  break-inside: avoid;
  background: url(layout/rect-frame-01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

@media print {
  h1 { font-size: 7rem; margin: 0 auto 2rem; }
  h2, h2 { margin-top: 0; }
  body { font-size: 1.2rem; }
  .web-only { display: none; }
}
