@font-face { font-family: "LinuxLibertine"; src: url("fonts/LinuxLibertine_R.ttf"); }
@font-face { font-family: "LinuxLibertine"; src: url("fonts/LinuxLibertine_RB.ttf"); font-weight: bold; }
@font-face { font-family: "LinuxLibertine"; src: url("fonts/LinuxLibertine_RI.ttf"); font-style: italic; }
@font-face { font-family: "LinuxLibertine"; src: url("fonts/LinuxLibertine_RBI.ttf"); font-weight: bold; font-style: italic; }
@font-face { font-family: "LinuxLibertineCapitals"; src: url("fonts/LinuxLibertine_aS.ttf"); }
@font-face { font-family: "LinuxLibertineCapitals"; src: url("fonts/LinuxLibertine_aBS.ttf"); font-weight: bold; }
@font-face { font-family: "LinuxLibertineCapitals"; src: url("fonts/LinuxLibertine_aSI.ttf"); font-style: italic; }
@font-face { font-family: "LinuxLibertineCapitals"; src: url("fonts/LinuxLibertine_aSZI.ttf"); font-weight: bold; font-style: italic; }
@font-face { font-family: "Kirsty"; src: url("fonts/Kirsty.otf"); }
@font-face { font-family: "Kirsty"; src: url("fonts/Kirsty-bold.otf"); font-weight: bold; }
@font-face { font-family: "Kirsty"; src: url("fonts/Kirsty-italics.otf"); font-style: italic; }
@font-face { font-family: "Kirsty"; src: url("fonts/Kirsty-bold-italics.otf"); font-weight: bold; font-style: italic; }

@page {
  margin: /*vertical=*/8mm /*horizontal=*/8mm;
  padding: 2rem 0; /* Sets vertical space after a page break, before starting page content */
  /* border: red 1px solid; */
}

#ce-qu-ils-savent-d-j- { page: p4; }
@page p4 {
  background-image: url(img/angers-ma-03.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100.666%;
  background-size: contain;
}

#tactique-5-la-mani-re-forte { page: p7; }
@page p7 {
  background-image: url(img/angers-ma-02.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100.666%;
  background-size: contain;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  font-family: "LinuxLibertine";
  font-size: .9rem;
  text-align: justify;
  /* border: green 1px solid; */
}

h1 { margin: 0; font-size: 3rem;   font-family: "Kirsty"; text-transform: uppercase; text-align: center; }
h2 { margin: 0; font-size: 1.7rem; font-family: "LinuxLibertineCapitals"; font-weight: bold; }
h3 { margin: 0; font-size: 1.4rem; font-family: "LinuxLibertineCapitals"; font-weight: bold; }

p { margin-top: .2rem; }
a { color: #555; }
blockquote { font-style: italic; margin-left: 0; padding-left: 1rem; }

ul { list-style: "◆"; padding-left: 0; margin-top: -.5rem; }
ul li { margin-left: .9rem; margin-bottom: .333rem; }
/* A bug in WeasyPrint prevents us to set padding-left on li elements,
   so we use the ::marker pseudo-element instead to add some space after the bullet: */
ul li::marker { content: "◆ "; white-space: pre; }
ul ul { margin-top: .5rem; }
ul ul li { list-style: "✚"; }
ul ul li::marker { content: "✚ "; white-space: pre; }

ol { list-style: none; padding-left: 0; margin-top: -.5rem; counter-reset: li; }
ol li { margin-bottom: .333rem; position: relative; counter-increment: li; clear: both; }
ol li::before {
  content: counter(li);
  font-family: "LinuxLibertineCapitals";
  font-weight: bold;
  font-size: .8rem;
  line-height: 1.1rem;
  color: white;
  text-align: center;
  display: block;
  float: left;
  background-color: black;
  height: 1.75rem;
  width: .9rem;
  margin-right: .5rem;
}
ol li::after {
  content: '';
  display: block;
  position: absolute;
  background-color: white;
  height: 1rem;
  width: .5rem;
  top: 1.25rem;
  left: .3rem;
  transform: rotate(66deg);
  /* border: magenta 1px solid; */
}
/* WeasyPrint inserts <p> inside <li> elements: */
ol li p { margin: 0; }

img { max-width: 16rem; max-height: 15rem; display: block; margin: 0 auto; }
img.size6  { max-width: 6rem;  max-height: 6rem; }
img.size7  { max-width: 7rem;  max-height: 7rem; }
img.size8  { max-width: 8rem;  max-height: 8rem; }
img.size9  { max-width: 9rem;  max-height: 9rem; }
img.size10 { max-width: 10rem; max-height: 10rem; }
img.size11 { max-width: 11rem; max-height: 11rem; }
img.size12 { max-width: 12rem; max-height: 12rem; }
img.size13 { max-width: 13rem; max-height: 13rem; }
img.size14 { max-width: 14rem; max-height: 14rem; }
img.size20 { max-width: 20rem; max-height: 20rem; }
img.size21 { max-width: 21rem; max-height: 21rem; }
img.size22 { max-width: 22rem; max-height: 22rem; }
img.size23 { max-width: 23rem; max-height: 23rem; }
img.size24 { max-width: 24rem; max-height: 24rem; }
img.large  { max-width: 100%;  max-height: 25rem; }
img.bg {
  position: fixed;
  top: -2rem; /* = negative of page.padding */
  left: 0;
  min-width: 100%;
  min-height: 107%; /* ~ calc(100% + 2rem) */
  z-index: -1;
}

.insert {
  max-width: 16.5rem;
  background-color: #d6dfdf;
  overflow: hidden;
}
.insert.large {
  max-width: 38rem;
  margin: 0 auto;
}
.insert > * {
  z-index: 1; position: relative;
  padding-left: .5rem;
  padding-right: .5rem;
}
.insert h2, .insert h3 {
  background-color: #08090a;
  color: white;
  font-family: "Kirsty";
  height: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .5rem;
  position: relative;
}
.insert h2 { font-size: 1.2rem; }
.insert h3 { font-size: 1rem; }
.insert h2::after, .insert h3::after {content: '';
  display: block;
  position: absolute;
  background-color: #d6dfdf;
  height: 3rem;
  width: 3rem;
  top: .5rem;
  right: -1.5rem;
  transform: rotate(45deg);
  /* border: magenta 1px solid; */
}
.insert p { margin-bottom: .5rem; }
.insert ul { margin-top: initial; margin-bottom: 0; }

.info {
  clear: both;
  min-height: 3rem;
  margin: .5rem 0;
  font-style: italic;
  display: flex;
  align-items: center;
}
.info p {
  margin: 0;
  margin-left: 1rem;
  margin-bottom: .2rem;
  flex: 1 1;
}
.info::before {
  display: block;
  width: 3rem;
  flex: 0 0 3rem;
}
.info.despair::before { content: url('img/despair.svg'); }
.info.fingerprint::before { content: url('img/fingerprint.svg'); }
.info.handcuffed::before { content: url('img/handcuffed.svg'); }
.info.hound::before { content: url('img/hound.svg'); }
.info.magnifying-glass::before { content: url('img/magnifying-glass.svg'); }

.float-left { float: left; margin-right: 1rem; }
.float-right { float: right; margin-left: 1rem; }

.page-break { page-break-after: always; }

.big { font-size: 1.2rem; }

@media screen {
  body { margin-top: 3rem; }
}
@media print {
  .web-only { display: none; }
}
