@font-face { font-family: "Candara"; src: url("fonts/Candara.ttf"); }
@font-face { font-family: "Candara"; src: url("fonts/Candara_Bold.ttf"); font-weight: bold; }
@font-face { font-family: "Candara"; src: url("fonts/Candara_Italic.ttf"); font-style: italic; }
@font-face { font-family: "Candara"; src: url("fonts/Candara_Bold_Italic.ttf"); font-weight: bold; font-style: italic; }
@font-face { font-family: "ImpactLabelReversed"; src: url("fonts/ImpactLabelReversed.ttf"); }
@font-face { font-family: "Ovnis"; src: url("fonts/Ovnis.ttf"); }
@font-face { font-family: "The-Orb-Report"; src: url("fonts/The-Orb-Report.ttf"); }

@page {
  margin: /*top=*/20mm /*lateral=*/20mm /*bottom=*/20mm;
  counter-increment: page-count;
  @bottom-center {
    font-family: Candara;
    content: counter(page-count);
    font-size: .8rem;
  }
}

.cards { page: cards; }
@page cards {
  margin: /*vertical=*/1.2cm /*horizontal=*/1.2cm;
}

* { box-sizing: border-box; }

body {
  max-width: 44rem;
  margin: 0 auto;
  font-family: "Candara";
  font-size: .9rem;
  line-height: 1.1rem;
}

h1, h2, h3 { font-family: "ImpactLabelReversed"; }
h1 { font-size: 2.5rem; text-align: center; }

.adjoining-bullet ul { list-style-position: inside; }

img.top-right { position: absolute; top: -3.5rem; right: -2rem; }
img.size5  { max-width: 5rem;  max-height: 5rem; }
img.size6  { max-width: 6rem;  max-height: 6rem; }
img.size8  { max-width: 8rem;  max-height: 8rem; }
img.size9  { max-width: 9rem;  max-height: 9rem; }
img.size10 { max-width: 10rem; max-height: 10rem; }
img.size14 { max-width: 14rem; max-height: 14rem; }
img.size15 { max-width: 15rem; max-height: 15rem; }

img.law-book,
img.time     { margin-left: 1rem; }
img.planet   { margin-right: 1rem; }

/* Adding small UFO pictures on the right side of some titles: */
h2:nth-of-type(1):after,
h2:nth-of-type(2):after,
h2:nth-of-type(3):after,
h3:nth-of-type(5):after,
h2:nth-of-type(4):after,
h3:nth-of-type(8):after,
h2:nth-of-type(6):after {
  font-family: Ovnis;
  font-size: 2rem;
  float: right; right: 0; 
}
h2:nth-of-type(1):after { content: 'z'; }
h2:nth-of-type(2):after { content: 's'; }
h2:nth-of-type(3):after { content: 'q'; top: 1rem; }
h3:nth-of-type(5):after { content: 'f'; }
h2:nth-of-type(4):after { content: 'd'; top: 1rem; }
h3:nth-of-type(8):after { content: 'h'; }
h2:nth-of-type(6):after { content: 'r'; top: 1rem; }
#cards:after { content: none; }

#annexes, #appendices { margin-bottom: 1.1rem; }

p { text-align: justify; }
blockquote { font-style: italic; }

a { color: #555; }
a:after { content: ' 🔗'; font-size: .5rem; }
a.license:after { content: none; }

hr { border: none; }
hr:before { 
  content: 'abcdefghijklmnopqrstuvwxyz';
  font-family: The-Orb-Report;
  font-size: .5rem;
  line-height: 1rem;
  display: block;
  text-align: center;
}

.duration { font-family: "Candara"; font-size: 1rem; }

.banner {
  font-size: 1rem;
  line-height: .3rem;
  padding: 1px 0; /* necessary for weasyprint to not "squeeze" this element */
  border-radius: .5rem;
  background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #eee 10px ), repeating-linear-gradient( #ddd, #ccc );
}
.banner > p { text-align: center; }
.banner + br + h3 { margin-top: 0; }

.cards {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 1.333%;
  margin-bottom: .666rem;
}
.cards.x3 { grid-template-columns: 33% 33% 33%; }

.card {
  height: 15.5rem;
  max-width: 20rem;
  background: url('imgs/card-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.25rem;
  border: .5px solid black;
}
.card.personality { background-size: 120%; }
.card.legend { background: none; border: none; }
.card.legend p { width: 100%; font-size: .8rem; text-align: right; }
.card.contract { background-image: url('imgs/alien-contract-greyscale.jpg'); }
.card.alien-code { background: none; padding: .2rem; font-weight: bold; }
.card.alien-code:before {
  content: '';
  position: absolute;
  background: url('imgs/alien-manuscript-greyscale.jpg');
  background-size: cover;
  opacity: .2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card h3 {
  width: 100%;
  position: absolute;
  top: 5%;
  font-size: 1.4rem;
  text-align: center;
}
.card p {
  margin: 0 .8rem;
  text-align: center;
}
.card.alien-code p { text-align: justify; }

.desc {
  grid-column: 1 / 5;
  padding: 0 1.5rem;
  margin-top: 1rem;
}

.illustrations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.illustrations img { max-width: 61%; }

.float-left { float: left; margin-right: .5rem; }
.float-right { float: right; margin-left: .5rem; }

.banner-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 33.5rem;
  height: 26rem;
  margin: 0 auto;
  padding: 3rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.banner-card.large {
  height: auto;
  padding: 1rem 3rem;
}
.banner-card h1 { font-size: 3.5rem; position: relative; }
.banner-card h1 .shadow {
  position: absolute;
  top: 1px;
  left: 1px;
}
.banner-card.en h1 { font-size: 3rem; line-height: 4rem; }
.banner-card.en.large { line-height: 3rem; }

/* Using this on a <p> element introduce some extra vertical spacing at the top of the next page: */
.page-break-after { page-break-after: always; }
.half-break { height: 1px; }

/* Font rendering tests are HTML-commented at the bottom of the doc: */
.ovnis          { font-family: Ovnis; }
.the-orb-report { font-family: The-Orb-Report; }
