@font-face { font-family: Athelas; src: url("fonts/Athelas-Regular.ttf"); }
@font-face { font-family: Athelas; src: url("fonts/Athelas-Bold.ttf"); font-weight: bold; }
@font-face { font-family: Athelas; src: url("fonts/Athelas-Italic.ttf"); font-style: italic; }
@font-face { font-family: Athelas; src: url("fonts/Athelas-BoldItalic.ttf"); font-weight: bold; font-style: italic; }
@font-face { font-family: Goldenbook; src: url("fonts/Goldenbook.otf"); }

@page {
  margin: /*top=*/15mm /*lateral=*/15mm /*bottom=*/15mm;
}

body {
  font-family: "Athelas";
  font-size: 1.1rem;
  line-height: 1.5rem;
}
h2 {
  font-family: "Goldenbook";
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 0;
}

img { max-height: 25rem; display: block; margin: 0 auto; }
figcaption { text-align: center; margin-top: 1rem; }
img.banner {
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: -1;
}
img.embellishment {
  width: 2rem;
  margin: 1rem auto 2rem;
}

.intro { text-align: center; }
.playbook > p { text-align: justify; }
p.notes { font-style: italic; margin-bottom: -.5rem; }

.frame {
  border: 1px solid black;
  padding: 1rem 1rem .666rem;
  font-size: .85rem;
  position: relative;
  margin-top: 1.5rem;
}
.frame p { margin: 0; }
.frame .title {
  position: absolute;
  top: -1rem;
  width: 95%;
  text-align: center;
  font-size: 1.1rem;
  text-transform: none;
}
.frame .title p {
  display: inline;
  padding: 0 .5rem;
  background: white;
}
.frame.agenda {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-top: -.5rem;
}
.frame.agenda::before, .frame.agenda::after,
.frame.agenda .title::before, .frame.agenda .title::after {
  content: '';
  background-image: url('img/corner.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 39px;
  height: 39px;
  position: absolute;
}
.frame.agenda .title::before {
  left: -23px;
  top: 9px;
}
.frame.agenda .title::after {
  transform: scaleX(-1);
  right: -24px;
  top: 9px;
}
.frame.agenda::before {
  transform: scaleY(-1);
  left: -7px;
  bottom: -7px;
}
.frame.agenda::after {
  transform: scale(-1, -1);
  right: -7px;
  bottom: -7px;
}
.list-of-manners {
  text-transform: none !important;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.side-by-side {
  columns: 2;
  column-rule: 1px solid lightgrey;
  padding-top: .5rem;
}
.side-by-side > * { display: flex; }
.score {
  padding: 0 .5rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

.effect {
  width: 66%;
  margin: .5rem auto 0;
  text-align: center;
  position: relative;
}
.effect::before, .effect::after {
  content: '';
  background-image: url('img/embellishment-02.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 69px;
  height: 42px;
  position: absolute;
}
.effect::before {
  left: -75px;
  top: 5px;
}
.effect::after {
  transform: scaleX(-1);
  right: -75px;
  top: 5px;
}

ul {
  list-style: '⃝ ';
  margin: 0;
  padding-left: .666rem;
}
.col2-list ul { columns: 2; }
.col3-list ul { columns: 3; }
.col4-list ul { columns: 4; }
.col4-list-faun-resist ul { display: grid; grid-template-columns: 26% 29% 25% 20%; }
.col4-list-faun-state ul { display: grid; grid-template-columns: 25% 26% 31% 18%; }
.col4-list-ogre-smaller ul { display: grid; grid-template-columns: 24% 27% 35% 13%; }
.col4-list-runaway-places ul { display: grid; grid-template-columns: 25% 30% 26% 20%; }
.col5-list ul { columns: 5; }
.col5-list-beastie-before ul { display: grid; grid-template-columns: 13% 27% 13% 30% 20%; }
.col5-list-construct-unnerving ul { display: grid; grid-template-columns: 14% 15% 24% 29% 20%; }
.col5-list-faun-transform ul { display: grid; grid-template-columns: 12% 27% 20% 25% 16%; }
.col5-list-mythic-need ul { display: grid; grid-template-columns: 27% 13% 15% 15% 20%; }
.col5-list-ogre-teased ul { display: grid; grid-template-columns: 22% 18% 21% 21% 18%; }
.col5-list-ogre-need ul { display: grid; grid-template-columns: 15% 20% 25% 15% 20%; }
.col5-list-runaway-need ul { display: grid; grid-template-columns: 22% 17% 13% 23% 15%; }
.col6-list ul { columns: 6; }
.col6-list-runaway-from ul { display: grid; grid-template-columns: 15% 20% 15% 20% 15% 15%; }

.col2 { columns: 2; }

table {
  border-collapse: collapse;
  width: 100%;
}
th { font-weight: normal; }
th, td {
  font-family: "Goldenbook";
  font-size: 1.7rem;
  line-height: 2.3rem;
  text-align: center;
  padding: 1rem 2rem 1rem;
  vertical-align: top;
  border: #eee 1px solid;
}
th::before, td::before {
  display: block;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.manners th::before, .manners td::before {
  content: '☙ BONNE MANIÈRE ❧';
}
.beliefs th::before, .beliefs td::before {
  content: '☙ CROYANCE ❧';
}

.playbook-roleplay-advice { font-size: .95rem; }

.half-break { height: 1px; }

@media print {
  .web-only { display: none; }
}
