@font-face { font-family: "Candara"; src: url("./fonts/Candara.ttf"); }
@font-face { font-family: "Candara"; src: url("./fonts/Candara_Bold.ttf"); font-weight: bold; }
@font-face { font-family: "Candara"; src: url("./fonts/Candara_Italic.ttf"); font-style: italic; }
@font-face { font-family: "Candara"; src: url("./fonts/Candara_Bold_Italic.ttf"); font-weight: bold; font-style: italic; }
@font-face { font-family: "Vinque"; src: url("./fonts/VinqueRegular.otf"); }

body { font-family: Candara; text-align: justify; max-width: 40rem; margin: 0 auto; }
h2 { font-family: Vinque; }

img { max-width: 15rem; max-height: 15rem; display: block; margin: 0 auto; }
img.large { max-width: 100%; max-height: 100%; }
img.small { max-width: 8rem; max-height: 8rem; }

table, th, td { border: 1px solid black; border-collapse: collapse; }
th, td { padding: .5rem; }
table { border-style: hidden; margin: 0 auto; }
th:first-child, td:first-child { text-align: right; }

.license { float: left; padding-right: 1rem; }

@media print {
  .web-only { display: none; }
}